{{#if auth}}


<div class="container col-4">
<h2 class="text-secondary">Acesso ao Cadastramento</h2>
    </div>
<div class=" container col-2">
<a href="/users/add" class="btn btn-secondary">Adicionar Cadastro</a>
</div>
<br>
<div class="container col-4">
<h2 class="text-danger">Desconectar do Login</h2>
</div>

<div class="container col-2">
<a href="/" class="btn btn-danger">Sair do Login</a>    
</div>


{{/if}}